@model UserModel

@{
    ViewData["Title"] = "Přihlášení";
}

<div class="m-auto text-center">
    <h1 class="text-2xl">Přihlášení</h1>
    <form class="flex w-2/5 m-auto mt-8">
        <div class="w-1/2">
            <div class="relative inline-block w-2/3 m-auto">
                <input asp-for="@Model.Login" class="effect-11 w-full" placeholder="Login"/>
                <span class="focus-bg"></span>
            </div>
        </div>
        <div class="w-1/2">
            <div class="relative inline-block w-2/3 m-auto">
                <input type="password" asp-for="@Model.Password" class="effect-11 w-full" placeholder="Heslo" />
                <span class="focus-bg"></span>
            </div>
        </div>
    </form>
</div>

