@using BudgetManager.ManagerWeb.Controllers

@model UserModel

@{
    ViewData["Title"] = "Přihlášení";
}

<div id="auth" class="self-center w-full h-full min-h-full"></div>

<script src="~/js/auth.js"></script>