/* Coolors Exported Palette - https://coolors.co/1b2737-032b4a-275068-12b4ba-e03d15-878787-b00000 */

/* CSS */
--prussian-blue: hsla(214, 51%, 22%, 1);
--prussian-blue-2: hsla(206, 96%, 29%, 1);
--blue-sapphire: hsla(202, 63%, 41%, 1);
--maximum-blue-green: hsla(182, 90%, 73%, 1);
--vermilion: hsla(12, 91%, 88%, 1);
--battleship-grey: hsla(0, 0%, 53%, 1);
--rufous: hsla(0, 100%, 69%, 1);

/* SCSS HEX */
$prussian-blue: #1b2737ff;
$prussian-blue-2: #032b4aff;
$blue-sapphire: #275068ff;
$maximum-blue-green: #12b4baff;
$vermilion: #e03d15ff;
$battleship-grey: #878787ff;
$rufous: #b00000ff;

/* SCSS HSL */
$prussian-blue: hsla(214, 51%, 22%, 1);
$prussian-blue-2: hsla(206, 96%, 29%, 1);
$blue-sapphire: hsla(202, 63%, 41%, 1);
$maximum-blue-green: hsla(182, 90%, 73%, 1);
$vermilion: hsla(12, 91%, 88%, 1);
$battleship-grey: hsla(0, 0%, 53%, 1);
$rufous: hsla(0, 100%, 69%, 1);

/* SCSS RGB */
$prussian-blue: rgba(27, 39, 55, 1);
$prussian-blue-2: rgba(3, 43, 74, 1);
$blue-sapphire: rgba(39, 80, 104, 1);
$maximum-blue-green: rgba(18, 180, 186, 1);
$vermilion: rgba(224, 61, 21, 1);
$battleship-grey: rgba(135, 135, 135, 1);
$rufous: rgba(176, 0, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1b2737ff, #032b4aff, #275068ff, #12b4baff, #e03d15ff, #878787ff, #b00000ff);
$gradient-right: linear-gradient(90deg, #1b2737ff, #032b4aff, #275068ff, #12b4baff, #e03d15ff, #878787ff, #b00000ff);
$gradient-bottom: linear-gradient(180deg, #1b2737ff, #032b4aff, #275068ff, #12b4baff, #e03d15ff, #878787ff, #b00000ff);
$gradient-left: linear-gradient(270deg, #1b2737ff, #032b4aff, #275068ff, #12b4baff, #e03d15ff, #878787ff, #b00000ff);
$gradient-top-right: linear-gradient(45deg, #1b2737ff, #032b4aff, #275068ff, #12b4baff, #e03d15ff, #878787ff, #b00000ff);
$gradient-bottom-right: linear-gradient(135deg, #1b2737ff, #032b4aff, #275068ff, #12b4baff, #e03d15ff, #878787ff, #b00000ff);
$gradient-top-left: linear-gradient(225deg, #1b2737ff, #032b4aff, #275068ff, #12b4baff, #e03d15ff, #878787ff, #b00000ff);
$gradient-bottom-left: linear-gradient(315deg, #1b2737ff, #032b4aff, #275068ff, #12b4baff, #e03d15ff, #878787ff, #b00000ff);
$gradient-radial: radial-gradient(#1b2737ff, #032b4aff, #275068ff, #12b4baff, #e03d15ff, #878787ff, #b00000ff);