<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Base.css" />
    <link rel="stylesheet" href="~/css/tailwind.css" />
    <environment include="Development">
        <!-- Dependencies -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    </environment>
    <environment exclude="Development">
        <!-- Dependencies -->
        <script src="https://unpkg.com/react@16/umd/react.production.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.js" crossorigin></script>
    </environment>
</head>
<body class="bg-mainDarkBlue bg-black h-full flex flex-col">
    <header class="flex-none bg-mainDarkBlue flex flex-row text-white p-4 px-12">
        <div>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <partial name="~/Views/IconsPartials/Logo.cshtml" />
            </a>
        </div>
        <nav class="border-bottom box-shadow ml-auto">
            <div class="flex flex-col spin circle button justify-center w-16 h-16">
                <div class="w-3/5 bg-white mb-2 h-1 rounded-lg mx-auto"></div>
                <div class="w-3/5 bg-white mb-2 h-1 rounded-lg mx-auto"></div>
                <div class="w-3/5 bg-white h-1 rounded-lg mx-auto"></div>
            </div>
            <div class="container">
            </div>
        </nav>
    </header>
    <div class="baseContainer flex-auto overflow-y-auto mx-auto rounded-lg bg-prussianBlue w-11/12">
        <main role="main" class="pb-3 text-white">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center flex-none m-4 text-white">
        <span class="m-auto">@DateTime.Now.Year - Budget&Investment</span>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
