@font-face {
    font-family: biHeader;
    src: url(Blackpast.otf);
    // src: url('LeagueGothic-Regular.otf');
}

@font-face{
    font-family: biText;
    src: url('Montserrat/Montserrat-Regular.otf');
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: biText;
    src: url('Montserrat/Montserrat-Bold.otf');
    font-style: bold;
    font-weight: 700;
}

@font-face{
    font-family: biText;
    src: url('Montserrat/Montserrat-ExtraBold.otf');
    font-style: normal;
    font-weight: 900;
}

@font-face{
    font-family: biText;
    src: url('Montserrat/Montserrat-Light.otf');
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family: biText;
    src: url('Montserrat/Montserrat-Medium.otf');
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family: biText;
    src: url('Montserrat/Montserrat-Thin.otf');
    font-style: normal;
    font-weight: 100;
}

@font-face{
    font-family: biText;
    src: url('Montserrat/Montserrat-Italic.otf');
    font-style: italic;
}

@font-face{
    font-family: biNexa;
    src: url('Nexa/NexaRegular.otf');
    font-style: normal;
}

@font-face{
    font-family: biExtatica;
    src: url('Extatica-Regular.otf');
    font-style: normal;
}

body {
    font-family: biText;
}

h1,h2,h3,h4,h5{
    font-family: biHeader;
}

.nexa{
    font-family: biNexa;
}

.extatica{
    font-family: biExtatica;
}