@import '_animationSpin.scss';

#logo {
    transition: 1s;
    width: 60px;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));

    &:hover {
        width: 65px;
    }
}

.st0 {
    fill: #e03d15ff;
}

.st1 {
    fill: #FFFFFF;
}

.baseContainer {
    border-radius: 1.5rem;
}

.paymentRecord{
    position: relative;
    left: 0;
    -webkit-transition: left 0.5s ease-out;
    -moz-transition: left 0.5s ease-out;
    -o-transition: left 0.5s ease-out;

    &:hover{
        left: 10px;
    }
}