@import "_animationSpin.scss";
@import "_modal.scss";
@import "_scroll.scss";
@import "_menu.scss";
@import "_budgetCard.scss";
@import "_goldCard.scss";

*:focus {
    outline: none !important;
}

#logo {
    transition: 1s;
    width: 60px;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));

    &:hover {
        width: 65px;
    }
}

.st0 {
    fill: #e03d15ff;
}

.st1 {
    fill: #ffffff;
}

.baseContainer {
    border-radius: 1.5rem;
}

.paymentRecord {
    position: relative;
    left: 0;
    transition: left 0.5s ease-out;
    -webkit-transition: left 0.5s ease-out;
    -moz-transition: left 0.5s ease-out;
    -o-transition: left 0.5s ease-out;

    &:hover {
        left: 10px;
    }
}

.paymentForm .activeType {
    background-color: #275068ff !important;
    outline: none;

    &:focus {
        outline: none;
    }
}

.paymentForm #type .categoryIconSelectbox svg {
    display: inline;
    stroke: white;
    fill: white;
}

.categoryIconSelectbox svg {
    display: inline;
    stroke: white;
    fill: white;
    width: 20px;
}

:focus {
    outline: none;
}

.effect-11 {
    border: 0;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #e03d15ff;
    position: relative;
    background: transparent;
    z-index: 1;
}

.effect-11~.focus-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #275068ff;
    transition: 0.3s;
    z-index: 0;
}

.effect-11:focus~.focus-bg {
    transition: 0.3s;
    width: 100%;
}

.effect-11 option {
    background: #275068ff;
}

.inputError {
    border-color: red;
}

.collapsed {
    visibility: collapse;
}

.categoryIcon svg {
    width: 1.5em;
    margin: auto;
}

.calendar text {
    fill: white !important;
}

.menu {
    transition: 2s;
}

.containerClosed {
    right: -12em;
}

.containerOpen {
    right: 0em;
}

.closeTag {
    font-size: 0.5em;
}

.h-70vh {
    height: 70vh;
}

.binWithAnimation {
    transition: .3s;

    &:hover {
        transform: rotate(15deg);
    }
}

.s0 {
    fill: url(#g1)
}

.s1 {
    fill: #e03d15
}

.s2 {
    fill: #ffffff
}

#loading {
    background: url('../images/loading.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

.s0T {
    fill: #e03d15
}

.s1T {
    fill: #ffffff
}

.s2T {
    fill: #000000
}