.spin {
  width: 5em;
  height: 5em;
  padding: 0;
}

.spin:hover {
  color: white;
}

.spin::before, .spin::after {
  top: 0;
  left: 0;
}

.spin::before {
  border: 2px solid transparent;
}

.spin:hover::before {
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

.spin::after {
  border: 0 solid transparent;
}

.spin:hover::after {
  border-top: 2px solid white;
  border-left-width: 2px;
  border-right-width: 2px;
  transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
}

.circle {
  border-radius: 100%;
  box-shadow: none;
}

.circle::before, .circle::after {
  border-radius: 100%;
}

.button {
  background: none;
  border: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}

.button::before, .button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modal-main {
  position: absolute;
  background: white;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#navMenu .mainWrapper {
  position: absolute;
  right: 20px;
  top: 20px;
  transition: 0.7s linear;
}
#navMenu .courtain {
  z-index: 5;
}
@media (max-width: 1024px) {
  #navMenu .mainWrapper.opened {
    right: 50%;
    top: 50%;
  }
  #navMenu .courtain.opened {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
@media (min-width: 1024px) {
  #navMenu .mainWrapper.opened {
    right: 140px;
    top: 140px;
  }
  #navMenu .courtain {
    display: none;
  }
}
#navMenu .menu-toggler {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  width: 30px;
  height: 3px;
  display: block;
  z-index: 1;
  border-radius: 1.875px;
  background: rgba(255, 255, 255, 0.7);
  transition: transform 1s, top 1s;
  z-index: 2;
  display: block;
  cursor: pointer;
  transition: 0.5s !important;
}
#navMenu .menu-toggler:hover, #navMenu .menu-toggler:hover:before, #navMenu .menu-toggler:hover:after {
  background: white;
}
#navMenu .menu-toggler:before, #navMenu .menu-toggler:after {
  width: 30px;
  height: 3px;
  display: block;
  z-index: 1;
  border-radius: 1.875px;
  background: rgba(255, 255, 255, 0.7);
  transition: transform 1s, top 1s;
  content: "";
  position: absolute;
  left: 0;
  transition: 0.5s !important;
}
#navMenu .menu-toggler:before {
  top: 8.5px;
}
#navMenu .menu-toggler:after {
  top: -7.5px;
}
#navMenu .menuTogglerParent {
  height: 30px;
  width: 30px;
  display: block;
  position: relative;
  cursor: pointer;
  z-index: 15;
}
#navMenu .menuTogglerParent:hover .menu-toggler {
  background: white;
}
#navMenu .menuTogglerParent:hover .menu-toggler:before {
  background: white;
}
#navMenu .menuTogglerParent:hover .menu-toggler:after {
  background: white;
}
#navMenu .menuTogglerParent:hover .checked {
  background: transparent !important;
}
#navMenu .menuTogglerParent:hover .checked:before {
  background: white;
}
#navMenu .menuTogglerParent:hover .checked:after {
  background: white;
}
#navMenu .menu-toggler.checked {
  background: transparent;
}
#navMenu .menu-toggler.checked:before, #navMenu .menu-toggler.checked:after {
  top: 0;
  width: 30px;
  transform-origin: 50% 50%;
}
#navMenu .menu-toggler.checked:before {
  transform: rotate(45deg);
}
#navMenu .menu-toggler.checked:after {
  transform: rotate(-45deg);
}
#navMenu .openedMenuItems .menu-item {
  opacity: 1;
}
#navMenu .openedMenuItems .menu-item:nth-child(1) {
  transform: rotate(0deg) translateX(-90px);
}
#navMenu .openedMenuItems .menu-item:nth-child(2) {
  transform: rotate(45deg) translateX(-90px);
}
#navMenu .openedMenuItems .menu-item:nth-child(3) {
  transform: rotate(90deg) translateX(-90px);
}
#navMenu .openedMenuItems .menu-item:nth-child(4) {
  transform: rotate(135deg) translateX(-90px);
}
#navMenu .openedMenuItems .menu-item:nth-child(5) {
  transform: rotate(180deg) translateX(-90px);
}
#navMenu .openedMenuItems .menu-item:nth-child(6) {
  transform: rotate(225deg) translateX(-90px);
}
#navMenu .openedMenuItems .menu-item:nth-child(7) {
  transform: rotate(270deg) translateX(-90px);
}
#navMenu .openedMenuItems .menu-item:nth-child(8) {
  transform: rotate(315deg) translateX(-90px);
}
#navMenu .openedMenuItems .menu-item a {
  pointer-events: auto;
}
#navMenu .menu-item:nth-child(1) a {
  transform: rotate(0deg);
}
#navMenu .menu-item:nth-child(2) a {
  transform: rotate(-45deg);
}
#navMenu .menu-item:nth-child(3) a {
  transform: rotate(-90deg);
}
#navMenu .menu-item:nth-child(4) a {
  transform: rotate(-135deg);
}
#navMenu .menu-item:nth-child(5) a {
  transform: rotate(-180deg);
}
#navMenu .menu-item:nth-child(6) a {
  transform: rotate(-225deg);
}
#navMenu .menu-item:nth-child(7) a {
  transform: rotate(-270deg);
}
#navMenu .menu-item:nth-child(8) a {
  transform: rotate(-315deg);
}
#navMenu .menu-item {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  right: -15px;
  display: block;
  opacity: 0;
  transition: 0.5s 0.5s;
  z-index: 10;
}
@media (max-width: 1024px) {
  #navMenu .menu-item svg {
    fill: #e03d15ff;
  }
}
#navMenu .menu-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  pointer-events: none;
  transition: 0.6s;
}
#navMenu .menu-item a:hover {
  box-shadow: 0 0 0 1.5px rgba(255, 255, 255, 0.3);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: 33.3333333333px;
}

.budgetCard:hover {
  transform: scale(1.1);
}

.budgetCard {
  transition: 0.3s;
}

.goldCard {
  min-width: 9em;
  transition: 0.7s;
}
.goldCard:hover {
  transform: translateY(-3em);
}

#goldCards .cardOverlap {
  margin-left: -2em !important;
}

.bg-gold {
  background: #e6c200;
}

.bg-gold-brighter {
  background: #ffdc20;
}

.z-negative1 {
  z-index: -1;
}

.goldText {
  background-color: #705f00;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(231, 195, 0, 0.6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.rotateBox {
  top: -25%;
  left: 0;
  right: 0;
  height: 150%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*:focus {
  outline: none !important;
}

#logo {
  transition: 1s;
  width: 60px;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
#logo:hover {
  width: 65px;
}

.st0 {
  fill: #e03d15ff;
}

.st1 {
  fill: #ffffff;
}

.baseContainer {
  border-radius: 1.5rem;
}

.paymentRecord {
  position: relative;
  left: 0;
  transition: left 0.5s ease-out;
  -webkit-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
}
.paymentRecord:hover {
  left: 10px;
}

.paymentForm .activeType {
  background-color: #275068ff !important;
  outline: none;
}
.paymentForm .activeType:focus {
  outline: none;
}

.paymentForm #type .categoryIconSelectbox svg {
  display: inline;
  stroke: white;
  fill: white;
}

.categoryIconSelectbox svg {
  display: inline;
  stroke: white;
  fill: white;
  width: 20px;
}

:focus {
  outline: none;
}

.effect-11 {
  border: 0;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #e03d15ff;
  position: relative;
  background: transparent;
  z-index: 1;
}

.effect-11 ~ .focus-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #275068ff;
  transition: 0.3s;
  z-index: 0;
}

.effect-11:focus ~ .focus-bg {
  transition: 0.3s;
  width: 100%;
}

.effect-11 option {
  background: #275068ff;
}

.inputError {
  border-color: red;
}

.collapsed {
  visibility: collapse;
}

.categoryIcon svg {
  width: 1.5em;
  margin: auto;
}

.calendar text {
  fill: white !important;
}

.menu {
  transition: 2s;
}

.containerClosed {
  right: -12em;
}

.containerOpen {
  right: 0em;
}

.closeTag {
  font-size: 0.5em;
}

.h-70vh {
  height: 70vh;
}

.binWithAnimation {
  transition: 0.3s;
}
.binWithAnimation:hover {
  transform: rotate(15deg);
}

.s0 {
  fill: url(#g1);
}

.s1 {
  fill: #e03d15;
}

.s2 {
  fill: #ffffff;
}

#loading {
  background: url("../images/loading.gif") no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

.s0T {
  fill: #e03d15;
}

.s1T {
  fill: #ffffff;
}

.s2T {
  fill: #000000;
}

.boxShadow {
  -webkit-box-shadow: -12px 7px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -12px 7px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -12px 7px 50px 0px rgba(0, 0, 0, 0.75);
}